body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D6FFCF !important;
}

.loginView{
    width: 400px;
    height: 300px;
    margin-top: 10%;
    background: url("./bg.svg") no-repeat center center;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(139, 139, 139, 0.2), 0 6px 20px 0 rgba(138, 138, 138, 0.19);
    transition: 0.5s !important;
    border-radius: 2em 1em 2em 1em !important;
    background-color: rgb(252, 255, 246);

}

.loginView:hover{
    box-shadow: 0 4px 8px 0 rgba(221, 255, 218, 0.521), 0 6px 20px 0 rgba(133, 255, 198, 0.19);

}

.rounded-text{
    border-color: #c5e7c6 !important;
    box-shadow: 0 4px 8px 0 rgba(222, 253, 216, 0.719), 0 6px 20px 0 rgba(221, 252, 215, 0.5) !important;

}

.login-btn{
    border-radius: 2em 1em 2em 1em;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #CEFCD0;
    transition: 0.2s;
    margin-right: 0.5vw;
}

.login-btn:hover{
    background-color: #D0FFD1;
    box-shadow: 0 4px 8px 0 rgba(197, 197, 197, 0.2), 0 6px 20px 0 rgba(175, 255, 168, 0.548) !important;
}

.login-btn:active{
    background-color: #91B292;
}

.login-btn:focus{
    outline: none;
}

#RemeberPassword{
    margin-left: 50px;
    margin-right: 5px;
}

.forgot-psw{
    margin-right: auto;
    width: 100%;
}

.forgot-psw a{
    float: right;
    font-size: 12px;
    margin-right: 6px;
    transition: 0.2s;
}

.forgot-psw a:hover{
    float: right;
    font-size: 13px;
    margin-right: 6px;
}

.bg-gr-plant{
    position: fixed;
    bottom: -30px;
    transition: 2s;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.bg-gr-plant img{
    width: 30vh;
}

@media only screen and (max-height: 500px){
    .bg-gr-plant{
        display: none;
    }
}

@keyframes slideInFromBottom{
    0%{
        transform: translateY(100%) ;
    }
    100%{
        transform: translateY(-30px);
    }
}