* {
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    transition: 0.7s;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #689f381e;
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.329);
    border-radius: 10px;
    transition: 0.7s;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #94c84773;
    border-radius: 10px;
    transition: 0.7s;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #689F38;
    }

input:focus {
    outline: none;
}

.rounded-text {
    border-radius: 2em 1em 2em 1em;
    border-width: 0px 1px 3px 0px;
    width: 100%;
    height: 30px;
    margin-left: 10px;
    padding-left: 10px;
    transition: 0.5s;
}

    .rounded-text:hover {
        border-width: 0px 1px 1px 0px;
        box-shadow: 0 4px 8px 0 rgba(148, 148, 148, 0.671), 0 6px 20px 0 rgba(126, 126, 126, 0.5);
    }

    .rounded-text:focus {
        border-width: 0px 1px 1px 0px;
        box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.575), 0 6px 20px rgba(78, 78, 78, 0.527);
    }
