*{
    margin: 0;
    padding: 0;
}

input:focus{
    outline: none;
}

.rounded-text{
    border-radius: 2em 1em 2em 1em;
    border-width: 0px 1px 3px 0px;
    width: 250px;
    height: 30px;
    margin-left: 10px;
    padding-left: 10px;
    transition: 0.5s;
}

.rounded-text:hover{
    border-width: 0px 1px 1px 0px;
    box-shadow: 0 4px 8px 0 rgba(148, 148, 148, 0.527), 0 6px 20px 0 rgba(126, 126, 126, 0.5);
}

.rounded-text:focus{
    border-width: 0px 1px 1px 0px;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.575), 0 6px 20px rgba(78, 78, 78, 0.527);
}
